data/Average_efficiency_by_property_type.csv
data/Average_efficiency.csv
data/Average_Emissions_over_time.csv
data/Building_Energy_Benchmarking_Data,_2015-Present_20260416.csv
data/Energy_efficient_buildings.csv
data/Energy_inefficient_buildings.csv
data/energy_trend_over_time.csv 
data/energy_usage_cleaned.csv 
data/Outliers.csv
data/Average_Emissions_by_property_type.csv